/* Atualizar o azul claro */
:root {
    --blue-light: #003366; /* Azul Original */
    --blue-dark: #01579B; /* Azul Escuro */
    --blue-darker: #003366; /* Azul Mais Escuro */
}

/* Geral */
*,
*:before,
*:after {
    font: 1em 'Inter';
    margin: 0;
    padding: 0;
    outline: 0;
    background-color: #e2e2e2; /* Fundo Neutro Claro */
    box-sizing: border-box;
}

/* Geral */
#content {
    width: 1000px;
    margin: auto;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--blue-light); /* Azul Principal */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    color: #fff;
}

/* Alinhamento */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Espaçamento */
.divider10 {
    height: 10px;
}

.divider20 {
    height: 20px;
}

.divider25 {
    height: 25px;
}

/* Título Principal */
#header {
    display: grid;
    grid-template-columns: 200px auto 200px;
    align-items: center;
}

/* Barra de Pesquisa */
#search-input {
    font-size: 18px;
    width: 100%;
    padding: 7px 25px;
    border: 0;
    outline: none;
    background-color: var(--blue-light); /* Azul Principal */
    color: white;
    margin-right: 8px;
    transition: 0.2s;
}

#search-input::placeholder {
    color: white;
}

/* Estilo de Input */
.inpuS {
    background-color: var(--blue-light); /* Azul Principal */
    padding: 5px;
    border-radius: 10px;
}

/* Banner */
#banner-section {
    border: 1px solid #d8d8d8;
    border-radius: 20px;
   background-image: url("https://t4.ftcdn.net/jpg/04/04/73/39/360_F_404733910_2mIXr6RbC5G3WZJFjopVsBaR3EOM6Bqy.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

/* Botões */
.button {
    font-size: 18px;
    border: none;
    background: transparent;
    padding: 7px 45px;
}

.rounder-button {
    border-radius: 50px;
    text-align: center;
}

.grey-button {
    background: var(--blue-light); /* Azul Principal */
    color: white;
    transition: all .35s;
}

.grey-button:hover {
    background-color: var(--blue-dark); /* Azul Escuro */
    color: white;
    transform: translateY(-5px);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    cursor: pointer;
}

/* Fontes */
.font-size-header {
    font-size: 3em;
}

.font-extra-bold {
    font-weight: 400;
}

/* Posts */
#posts-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 60px;
}

.post {
    border-radius: 20px;
    transition: all .35s;
}

.post:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.post .post-image {
    background-color: var(--blue-light); /* Azul Principal */
    height: 300px;
    border-radius: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 20px;
}

.post-image .author-data {
    width: 80%;
    background-color: var(--blue-darker); /* Azul Mais Escuro */
    border-radius: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.author-data .author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.post .post-text {
    line-height: 1.6;
}

.one-piece {
    background-image: url("https://angelotti.wordpress.com/wp-content/uploads/2023/09/one-piece-capa-anime-001-luffy-nami-zoro-usopp-sanji.webp?w=256&h=256&crop=1");
    background-repeat: no-repeat;
    background-size: cover;
}

.dragon {
    background-image: url("https://play-lh.googleusercontent.com/5LyiCrzd0uQpkDKXaSfgaQzHxsgVFBpzUUd6yx7L54EXchEjBptEfF3SniaHGsneVg=w526-h296-rw");
    background-repeat: no-repeat;
    background-size: cover;
}

.berserk {
    background-image: url("https://preview.redd.it/nrmdrm83vdob1.jpg?width=640&crop=smart&auto=webp&s=8f50393b410b28c64760800f85f3220748c29de0");
    background-repeat: no-repeat;
    background-size: cover;
}

.author-data .author-name {
    margin-left: 10px;
    background-color: var(--blue-darker); /* Azul Mais Escuro */
    color: #fff;
}

/* Rodapé */
.footer {
    background-color: var(--blue-light); /* Azul Principal */
    padding: 25px;
    color: white;
    text-align: center;
    font-size: 25px;
}
